language: go
sudo: false
matrix:
  include:
  - go: 1.6
  - go: 1.7
  - go: tip
script:
- make
deploy:
    provider: releases
    api_key:
        secure: "$GH_TOKEN"
    file: pepper_linux_amd64
    skip_cleanup: true
    on:
        tags: true
